




html {
    font-family:arial;
}
body{
    margin: 0;
    padding: 0px;
    background : url("../img/bg.png");
}
p{
    text-align: justify;
    font-size:15px;
    line-height: 22px;
    color:#444;
}
a,
a:link,
a:visited
{
    text-decoration: none;
}
a:hover span.title
{
    text-decoration: underline;
}
.strong{
    font-weight: bold;
}
.entypo{
    font-size: 1.5em;
}
a,
a:link,
a:visited,
.reddRed{
    color: #ed1c24;
}

div.info,
div.tip{
    margin-top:10px;
    background-color: #fff;
    border-radius : 4px;
    padding:8px;
    border:1px solid #C9C9C9;
    display:none;
}

div.info h3,
div.tip h3{
    text-transform: uppercase;
    color:#666;
    float:left;
    margin:0;
    margin-right:10px;
    font-weight: bold;
    font-size:1.8em;
}


div.tip h3 .entypo,
div.info h3 .entypo{
    font-size: 3em;
    line-height: .7em;
}

div.info p,
div.tip p{
    margin-top:0;
    padding:0 10px;
    font-style: italic;
    font-size:0.8em;
}
#mainColumnContainer{
    background-color: #F7F7F7;
    margin: auto;
    max-width: 650px;
    margin-top: 0;
    box-shadow: #222 0px 2px 10px;
    padding: 1px 35px 306px 35px;
}
.small a,
.small a:link,
.small a:visited
{
    color:#555;
}
.small{
    text-align:center;
    color:#888;
    font-size:11px;
}
.header {
    padding:10px;
    background-color: #444;
    color:#FFF;
    border-bottom:1px solid #111;
}
h1,
h2,
h3,
h4
{
    color:#333;
    font-weight: normal;
}
h3,h4,h5,h6{
    font-weight: bold;
}
select{
    background: none;
    height:30px;
    font-size: 16px;
    line-height: 20px;
    padding:5px;
}
.header h2 {
    margin:0;
    margin-left:10px;
    font-size:28px;
    color:#fff;
}
input {
    height:20px;
    font-size:16px;
    padding:4px;
    width:75%;
}
button {
    float: right;
    text-transform: uppercase;
    width: 20%;
    background-color: #444;
    color: #fff;
    font-size: 17px;
    padding: 5px;
    border: 1px solid #111;
    border-radius: 4px;
    margin: 0px;
}
.reddcoinIcon {
    margin-right: 20px;
    width: 30px;
    float: left;
}
#results{
    margin-top:20px;
}
#errorMessage {
    margin-top:10px;
    display:none;
    font-size:12px;
    text-align:center;
    border:1px solid #ff6462;
    background-color: #ffefd5;
    border-radius: 5px;
    padding:5px;
}
#weightGraphAge{
    width:200px;
    float:right;
}
.clear{
    clear:both;
}
.resultText,
.resultAmount{
    padding:5px;
    width:40%;
    float:left;
    color:#444;
}
.resultAmount{
    text-align:right;
    color:#111;
    width:32%;
}

#thetaGraphAge{
    width:200px;
    float:right;
}
.clear{
    clear:both;
}
.resultText,
.resultAmount{
    padding:5px;
    width:40%;
    float:left;
    color:#444;
}
.resultAmount{
    text-align:right;
    color:#111;
    width:32%;
}

.mainContainer {
    padding:20px;
    border:1px solid #999;
    border-top:none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-bottom:50px;
    background-color: #fff;

}

ul.line-legend{
    padding-left:10px;
    color:#666;
    font-size:13px;
    list-style-type: none;
}
ul.line-legend li{
    margin-top: 3px;
    list-style-type: none;
    padding-right: 20px;
}
ul.line-legend span{
    margin-right: 5px;
    padding:0 6px;
}
ul.line-legend span:after{
    content:' '
}