body
{
    background : #0C0B0B;
    background : #585858;
    background : #DBDBDB;
}

body,
h1, h2, h3, h4, h5, h6,
label, li, ol,
p, div, div.row, div.panel
{
    font-family : "Monteserat", "Arial", serif;
    color       : #4E4E4E;
}

p, div, div.row, div.panel
{
    font-family : "Open Sans", sans-sefif, serif;
    color       : #4E4E4E;
}

.dark,
.fa.dark
{
    color : #4E4E4E;
}

body.panel,
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6,
.panel label, .panel li, .panel ol,
.panel p, .panel div, .panel div.row, div.panel
{
    color : #e8e8e8;
}

.bigHeader
{
    font-size      : 60px;
    font-weight    : 300;
    text-align     : center;
    line-height    : 52px;
    margin-bottom  : 15px;
    letter-spacing : 1px;
}

div.row
{
    background-color : #585858;
}

div.panel
{
    border-color     : #CFCFCF;
    background-color : #FFF;
}

a
{
    color              : #1fbba6;
    text-decoration    : none;
    -webkit-transition : color, background-color, border-color 0.3s ease-out;
    -moz-transition    : color, background-color, border-color 0.3s ease-out;
    -o-transition      : color, background-color, border-color 0.3s ease-out;
    transition         : color, background-color, border-color 0.3s ease-out;
}

a:hover
{
    color           : #333;
    text-decoration : none;
}

a.disabled:hover,
a.disabled
{
    color  : #777;
    cursor : text;
}

p.dark
{
    color : #ddd;
}

.contain-to-grid,
.top-bar
{
    background : #000000;
    height     : 60px;
}

.top-bar-section li:not(.has-form) a:not(.button)
{
    padding     : 0 15px;
    line-height : 60px;
    background  : #000000;
}

.top-bar-section li:not(.has-form) a:not(.button):hover
{
    background : #0A0A0A;
}

.top-bar-section ul li:hover:not(.has-form) > a
{
    background : #1D1D1D;
}

.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button)
{
    color            : white;
    background-color : #555555;
    background       : #111111;
}

.top-bar-section .has-dropdown > a:after
{
    top : 28px;
}

#spacer
{
    height : 500px;
}

.round
{
    padding       : 14px 16px;
    border-radius : 50%;
    margin        : auto;
    display       : inline-block;
}

.fa.medium
{
    font-size : 40px;
}

.fa.large
{
    font-size : 50px;
}

.fa.huge
{
    font-size : 100px;
}

.space-top-big a.disabled
{
    margin-top : 15px;
    display    : block;
}

.githubPanel .button
{
    width : 60%;
}

.row.space-top,
.space-top
{
    margin-top : 10px;
}

.row.space-top-big,
.space-top-big
{
    margin-top : 20px;
}

.space-top-big .round
{
    margin-top : 5px;
}

.bright
{
    color : #1fbba6;
}

.walletList div.row
{
    margin-top : 10px;
}

.walletList .radius.button
{
    width       : 100%;
    line-height : 33px;
}

div.bright,
.button
{
    background-color : #1fbba6;
}

.button:hover
{
    background-color : #666;
}

.row.lighter div.row,
.row.lighter
{
    background-color : #4E4E4E;
    background-color : #383838;
    background-color : #F5F5F5;
}

.row.lighter
{
    padding-top : 25px;
    border      : 1px solid #B3B3B3;
    border-top  : none;
}

.row.lighter ul,
.row.lighter li,
.row.lighter p
{
    color : #484848;
}

code
{
    display       : block;
    white-space   : pre;
    padding       : 5px;
    border-radius : 8px;
}

code,
kbd
{
    font-size        : 90%;
    background-color : #757575;
    border           : none;
    color            : #FFFFFF;
}

.singleOs .button img
{
    width : 40px;
}

.singleOs .button
{
    width : 100%
}

.singleOs .button .buttonText
{
    color       : #FFF;
    /* padding-top: 10px; */
    text-align  : left;
    margin-left : 60px;
}

.walletButtons .button
{
    width      : 100%;
    text-align : center;
}

.walletButtons img
{
    display      : inline;
    width        : 50px;
    margin-right : 20px;
}

.walletListHeader
{
    margin-bottom : 0px;
}

hr
{
    margin-top : 0px;
    padding    : 0px;
}

.fa
{
    color : #FFF;
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"]
{
    border-right : solid 1px #0F0F0F;
    height       : 60px;
}

blockquote
{
    color       : #777;
    border-left : 1px solid #e6e6e6;
    font-style  : italic;
}

#selectedOsContainer
{
    width  : 90%;
    margin : 40px auto;
}

.singleOs
{
    display : none;
}

.linux
{
    /*display : none;*/
}